:root:not(.dark) body,
:root:not(.dark) #body-content,
:root:not(.dark) .mdx-content {
  color: oklch(43% .00961 91.6) !important;
}

:root:not(.dark) #navbar .bg-background-light {
  background-color: #f0eee6 !important;
}

[data-component-part="step-title"] {
  font-weight: 600 !important;
}

.card {
  --tw-shadow: 0 1px 2px 0 var(--tw-shadow-color, #0000000d);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  border-color: oklch(0.87 0 0);
}

:root:not(.dark) code {
  background-color: white !important;
}

:root:not(.dark) .border-gray-100 {
  border-color: oklch(0.87 0 0);
}

:root:not(.dark) [data-component-part="step-number"] > div {
  background-color: #f0eee6 !important;
}
